---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A short introduction"
  pubDate={new Date("April 12 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <section>
    <p>
      Hello! I'm <strong>Jens Kristian Espevik</strong>, a dedicated Cloud
      Engineer at Accenture based in Trondheim, Norway. With a rich background
      in cloud technologies, I've guided clients primarily in the energy sectors
      through their transitions from on-premise solutions to robust, scalable
      cloud-based infrastructures.
    </p>
    <p>
      My expertise spans across advising clients on leveraging cloud technology
      for enhanced efficiency and compliance. I am experienced in Azure, backed
      by my AZ-900 Microsoft Azure Fundamentals certification, and promote to
      use of infrastructure as code provision infrastructure seamlessly in a
      CI/CD setup. My skills extend into front-end technologies, including HTML,
      CSS, and JavaScript, although my primary focus has been on cloud
      infrastructure solutions.
    </p>
    <p>
      Prior to joining Accenture, I specialized in service desk and IT
      operations roles, where I learned the critical importance of automation
      and scalability in tech solutions. My approach to technology is hands-on,
      informed by years of experience across multiple sectors, ensuring that I
      bridge the gap between customer needs and technical execution effectively.
    </p>
    <p>
      Outside of work, I am passionate about continuous learning and sharing
      knowledge, which reflects in my personal projects and contributions to
      various technical communities. Feel free to connect with me on <a
        href="https://www.linkedin.com/in/jenske">LinkedIn</a
      > or check out my projects on <a href="https://github.com/jkriesp"
        >GitHub</a
      >.
    </p>
  </section>
</Layout>
