---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Welcome to My Development Journey🧑‍🚀</h1>
      <p>
        Hello and thank you for visiting! My name is Jens Kristian Espevik, and
        this blog is my digital diary where I chronicle the ongoing adventure of
        learning both front-end and back-end development. Whether you're a
        fellow learner, a seasoned developer, or just curious about coding,
        you've come to the right place!
      </p>

      <section>
        <h2>What to Expect?</h2>
        <ul>
          <li>
            <strong>Regular Updates:</strong> I'll share insights, breakthroughs,
            and challenges as I dive deeper into the realms of JavaScript, Python,
            Java, Docker, Kubernetes, and more.
          </li>
          <li>
            <strong>Tutorials & Tips:</strong> Look out for step-by-step tutorials,
            tips, and best practices that have helped streamline my coding process
            and can do the same for you.
          </li>
          <li>
            <strong>Project Showcases:</strong> I’ll walk you through my projects,
            discussing both my successes and the lessons learned along the way.
          </li>
          <li>
            <strong>Resource Sharing:</strong> Discover the resources that have made
            a significant impact on my learning curve, from interactive courses to
            crucial reference books.
          </li>
        </ul>
      </section>

      <section>
        <h2>Under Construction</h2>
        <p>
          As you can see, the digital space is still under construction. I am
          somewhat actively working on this website to learn the Astro
          framework. If you have any tips or guides in that regard please send
          it my way!
        </p>
      </section>
    </main>
    <Footer />
  </body>
</html>
