---
import BlogPostPreviewCard from "../components/BlogPostPreviewCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style>
  .cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>

<div class="cardContainer">
  {
    // Render the 3 latest Blog Post Previews
    posts.slice(-3).map((post) => (
      <BlogPostPreviewCard post={post} />
    ))
  }
</div>
